body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(27, 27, 27);
  color: white;
  font-family: "Roboto";
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.tile {
  width: 40px;
  height: 40px;
  border: 2px solid rgb(71 207 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.keyboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.keyboard {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keyboard button {
  width: 40px;
  height: 60px;
  padding: 10px;
  background-color: rgb(56, 53, 53);
  color: white;
  border-radius: 5px;
}

.time-label {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}
.score-label {
  margin-bottom: 20px;
  font-size: 20px;
}

.score {
  color: rgb(88, 181, 244);
}

.message {
  margin-top: 20px;
}
